body {
    overflow: hidden;
}

.wrapper {
    padding-top: 250px;
    background-image: url("https://wallpapers.com/images/hd/travel-hd-2fsg31b3wqteinpa.jpg");
}

.bg-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.attraction-info {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    background-image: linear-gradient(135deg, rgba(169, 198, 232, 0.9), rgba(255, 255, 255, 0.9));
    background-clip: padding-box;
}
.modal {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#text-center {
    padding: 15px 0;
}

.click-container{
    display: flex;
}
.button-container {
    width: 680px;
}


.heart-btn-wrapper {
    font-size: 32px;
    width: 32px;
    position: relative;
}
ion-icon.active{
    animation:like 0.5s 1;
    fill:red;
    stroke:none;
}
ion-icon{
    fill:transparent;
    stroke:black;
    stroke-width:30;
    transition:all 0.5s;
}
@-webkit-keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.2); }
    100% { transform: scale(1.1); }
}
