.container {
    max-width: 640px;
    padding: 20px 25px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.container h1 {
    margin: 12px  0px;
    font-size: 36px;
}
.contact-us-message {
    margin: 20px;
}
.container p {
    margin: 0;
    font-size: 18px;
    color: #888;
}


form {
    display: flex;
    flex-direction: column;
}

table {
    margin: 0 16px;
}
table th {
    padding: 28px 4px 8px 4px;
    border: none;
    border-radius: 8px;
}
table input {
    margin: 0;
    padding: 10px 6px;
    border: none;
    border-radius: 5px;
    width: 80%;
    font-size: 1em;
}
table textarea {
    padding: 12px 6px;
    border: none;
    border-radius: 5px;
    width: 90%;
}

button {
    width: 50%;
    padding: 10px;
    margin: 24px 10px 20px 10px;
    background: #ff007f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background: #e60073;
}