body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    padding-top: 20px;
    border-radius: 15px;
}

.card-header {
    border-bottom: 2px solid #dee2e6;
    text-align: center;
}

.table-responsive {
    margin-top: 20px;
}

.table thead th {
    text-align: center;
    border-bottom: 2px solid #dee2e6;
    color: #495057;
}

.table tbody tr .d-flex.align-items-center{
    transition: all 0.3s ease-in-out;
}

.table tbody tr .d-flex.align-items-center:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
