body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);   
    animation: gradient 3s ease infinite;
    background-size: 400% 400%;
}

/* Navagation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav.scrolled {
    background-color: #444;
    opacity: 0.9;
}
nav .logo {
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
nav ul {
    padding-right: 50px;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
nav ul li {
    position: relative;
    display: flex;
    align-items: center;
}
nav ul li a {
    color: #eee;
    text-decoration: none;
    transition: color 0.3s;
    padding: 8px 16px;
    flex: 1;
}
nav ul li a::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}
nav ul li a:hover::before {
    opacity: 1;
}

/* hero */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    background: url('https://source.unsplash.com/1920x1080/?travel') no-repeat center center/cover;
    transition: opacity 0.5s;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    animation: fadeInDown 1s;
}
.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    animation: fadeInDown 1.5s;
}
.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
}

.fields {
    display: flex;
    justify-content: space-between;
}

.field {
    flex: 1;
    margin-right: 10px;
}

label {
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 90%;
}

#message {
    width: auto;
}

button {
    padding: 10px;
    background: #ff007f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 5px;
}

button:hover {
    background: #e60073;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    /* width: 100%; */
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 1em;
    color: #fff;
}
